[user]
	name = Alan Rodriguez
	email = alanrodriguezromero@gmail.com
	signingkey = 3657BE603114B75F
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	jalate = up
[core]
	editor = /usr/bin/vim
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
# Machine-specific overrides (work email/key). Not in the repo.
[include]
	path = ~/.gitconfig.local
